body {
  display: flex;
  align-items: center;
  border: 10vw;
  margin: 5%;
  background-color: #0E3B43;
  flex-direction: column;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: 2.5%;
  border: 5%;
  background-color: white;
}

#main-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 5px;
  background-color: red;
}

#about-us-container {
  background-color: white;
  align-self:last baseline;
  margin: 2.5%;
  border: 2vw;
  width: 60%;
  border-radius: 5px;
  padding: 7px;
}

#new-arrivals {
  background-color: white;
  border: 2vw;
  border-radius: 5px;
  padding: 2.5%;
  width: 90%;
  margin: 1%;
  flex-wrap: wrap;
}

#more-product {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 1%;
  padding: 1%;
  justify-content: space-evenly;
  border-radius: 5px;
}

#more-product > section {
  margin: 10px;
  height: 400px;
  width: 300px;
  background-color: purple;
  flex-direction: column;
  border: 10px;
  border-radius: 5px;
}

#good-reviews {
  display: flex;
  flex-direction: column;
  margin: 2.5%;
  padding: 2.5%;
  width: 90%;
  height: 400px;
  background-color: white;
  border-radius: 5px;
}

#feedback-btn {
  width: 20%;
}

#entry {
  width: 60%;
  height: 100px;
}

footer {
  width: 90%;
  height: 100px;
  background-color: white;
  border-radius: 3px;
  margin: 2.5%;
}