body {
  display: flex;
  align-items: center;
  border: 10vw;
  margin: 5%;
  background-color: #545775;
  flex-direction: column;
  font-family: 'Cormorant Garamond', serif;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: 2.5%;
  border: 5%;
  background-color: #BFC8AD;
}

#main-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  border-radius: 5px;
  background-color: red;
}

#about-us-container {
  background-color: white;
  display: flex;
  width: 80%;
  margin: 2.5%;
  border: 2vw;
  border-radius: 5px;
  padding: 7px;
}

#about-us-container > img {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}

#new-arrivals {
  background-color: white;
  border: 2vw;
  border-radius: 5px;
  padding: 2.5%;
  height: auto;
  width: 90%;
  margin: 1%;
}

#more-product, #new-arrivals-items {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  margin: 1%;
  padding: 1%;
  justify-content: space-evenly;
  border-radius: 5px;
}

#more-product > section, #new-arrivals-items > section {
  display: flex;
  margin: 10px;
  height: 250px;
  width: 200px;
  background-color: purple;
  flex-direction: column;
  border: 10px;
  border-radius: 5px;
  padding: 10px;
}

#new-arrivals-items > section > img {
  height: 175px;
  width: 175px;
  align-self: center;
  justify-content: center;
}

#new-arrivals-items > section > p {
  display: none;
  text-align: center;
}

#new-arrivals-items > section:hover > p {
  display: inline;
}

#good-reviews {
  display: flex;
  flex-direction: column;
  margin: 2.5%;
  padding: 2.5%;
  width: 90%;
  height: 400px;
  background-color: white;
  border-radius: 5px;
}

#feedback-btn {
  width: 20%;
}

#entry {
  width: 60%;
  height: 100px;
}

footer {
  width: 90%;
  height: 100px;
  background-color: white;
  border-radius: 3px;
  margin: 2.5%;
}