/*
  Name: Catalina Kashiwa and Liana Rosado
  Date: November 5th, 2023
  Section: CSE 154 AB/AE

  This is the styles.css for the final project. We wanted it to follow an earthy
  and nature tone while using flex boxes to display our products. At the moment
  it is bare bones with later appropriate implementation of product images and
  formatting in their flex boxes.
*/
body {
  display: flex;
  align-items: center;
  font-size: 20px;
  background-color: #3A3B3C;
  color: #3A3B3C;
  flex-direction: column;
  font-family: 'Cormorant Garamond', serif;
}

header, nav, header div {
  display: flex;
  align-items: center;
}

header, nav {
  justify-content: space-around;
}

header {
  position: sticky;
  top: 0;
  height: 15vh;
  background-color: black;
  width: 110%;
  z-index: 10;
}

header img {
  margin: 0px;
  margin-right: 1.5vw;
  height: 15vh;
}

header img:hover {
  cursor: pointer;
}

#cart-pic {
  margin: 0px;
  height: 6vh;
}

#cart-pic:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#cart-num {
  background-color: black;
  color: white;
  font-size: 24px;
}

nav h2 {
  margin: 15px;
  cursor: pointer;
  text-align: center;
}

nav h2:hover {
  font-weight: bolder;
  text-decoration: underline;
}

#cart-container {
  display: flex;
  justify-content: start;
}

h1 {
  font-size: 50px;
  color: white;
  letter-spacing: 1.5vw;
}

h3 {
  font-size: 40px;
}

nav > h2 {
  font-size: 20px;
  color: white;
}

#browse-container {
  display: flex;
  background-image: url('img/background-home.jpg');
  background-size: cover;
  background-position: center;
  width: 110%;
  height: 700px;
  margin-bottom: 20px;
  color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.transparent-btn {
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  width: 225px;
  height: 65px;
  color: white;
  font-family: inherit;
  font-size: 18px;
}

#about-us-pic {
  display: flex;
  background-image: url('img/whoweare.jpg');
  background-size: cover;
  background-position: center;
  width: 120%;
  height: 500px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: white;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#about-us-descrip {
  width: 70%;
  color: white;
  margin: 20px;
  font-size: 28px;
}

.transparent-btn:hover {
  transform: scale(1.1);
}

#about-us-container {
  display: flex;
  padding: 2%;
}

#about-us-container > img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
}

#about-us-container > div {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

/* product collections cards */
#product-category-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 110%;
}

#product-category-cards > div {
  height: 450px;
  width: 350px;
  padding: 10px;
  margin: 20px;
}

#plants {
  display: flex;
  background-image: url('img/plant1.jpg');
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 600px;
  margin-bottom: 20px;
  align-items: center;
  font-weight: bolder;
  justify-content: center;
  flex-direction: column;
}

#rock {
  display: flex;
  background-image: url('img/rock2.jpg');
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 600px;
  margin-bottom: 20px;
  align-items: center;
  font-weight: bolder;
  justify-content: center;
  flex-direction: column;
}

#water {
  display: flex;
  background-image: url('img/aqua.jpg');
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 600px;
  margin-bottom: 20px;
  align-items: center;
  font-weight: bolder;
  justify-content: center;
  flex-direction: column;
}

#main-view {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  color: white;
}

#all-products, #product-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1%;
  padding: 1%;
  justify-content: space-evenly;
  border: 2vw;
}

#all-products > section {
  margin: 10px;
  height: 600px;
  width: 350px;
  flex-direction: column;
  border: 10px;
  border-radius: 5px;
  font-size: 30px;
  color: white;
}

/* new arrivals containers and products within the div */
#new-arrivals-items {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: #3A3B3C;
  margin-bottom: 70px;
}

.product-container, .new-arrival-product-container {
  display: inline-block;
  width: 450px;
  height: 500px;
  margin: 50px;
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

.product-container img, .new-arrival-product-container img {
  height: 400px;
  width: 325px;
}

.product-container img:hover {
  transform: scale(1, 1.05);
  cursor: pointer;
}

#good-reviews {
  display: flex;
  flex-direction: column;
  margin: 2.5%;
  padding: 2.5%;
  width: 90%;
  height: 400px;
  background-color: white;
  border-radius: 5px;
}

#feedback-btn {
  width: 20%;
}

#entry {
  width: 60%;
  height: 100px;
}

footer {
  width: 110%;
  height: 250px;
  background-color: #ced8c7;
  color: #3A3B3C;
  display: flex;
  align-items: center;
  margin: 0;
}

footer, footer div {
  justify-content: space-around;
}

footer div {
  display: flex;
  flex-direction: column;
}

footer h2 {
  color: #3A3B3C;
}

footer h4 {
  font-size: 28px;
  margin: 0;
}

#creds {
  color: black;
  font-size: 12px;
}

#product-view, #login-view, #cart, #user-info {
  background-color: white;
  margin: 2.5%;
}

#product-view {
  display: flex;
  margin: 2.5%;
  width: 100%;
  justify-content: left;
}

#product-info {
  display: flex;
  flex-direction: column;
  padding: 2.5%;
}

#product-view > img {
  padding: 2.5%;
  width: 370px;
  height: 480px;
}

#login-view {
  width: 80%;
}

/* new login stuff */

#login-popup {
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 2px solid white;
  z-index: 9;
  margin: 5px;
}

.form-container {
  margin: 2px;
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

#username, #psw, #first-name, #last-name, #email {
  width: 90%;
  height: 30px;
  padding: 15px 20px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

#username:focus, #password:focus {
  background-color: #ddd;
  outline: none;
}

#create-account {
  color: black;
  font-weight: bolder;
}

#create-account:hover {
  font-size: 22px;
  text-decoration: underline;
  cursor: pointer;
}

.form-container .btn {
  background-color: #3A3B3C;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: black;
}

.form-container .btn:hover {
  opacity: 1;
}

#search-area {
  display: flex;
  flex-direction: row;
  height: 30px;
}

#search-area > textarea {
  width: 200px;
}

#cart > div {
  display: flex;
  width: 60vw;
  justify-content: space-around;
}

#cart > div > select {
  align-self: center;
}

#cart > div > img {
  width: 200px;
  height: 200px;
}

.hidden {
  /* stylelint-disable-next-line declaration-no-important */
  display: none !important;
}